

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Kedebideri", sans-serif;
}

body{
    transition: background-color 0.5s ease;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

    h1{
         color: white;
    }
}

nav ul{
    list-style: none;
    display: flex;
    gap: 60px;
     
}

a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-style:normal;
    font-size: 18px;
}

.icons{
    display: flex;
    gap: 25px;
}

main{
    text-align: center;
   

    h1{
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 380px;
       color: white;
        
    }
}

i {
    cursor: pointer;
    color: white;
}

.cantodireito{
    position: absolute;
    top: 35%;
    right: 5%;
    
    text-align: right;
    
    
    p{
        width: 50px;
        height: 50px;
        font-size: 16px;
          font-weight: bold;
       
        border-radius: 50%;
        margin: 10px;
        padding-top: 5px;
        text-align: center;
        cursor: pointer;
    }

    
}

.fixo{
    background-color: rgba(255, 255, 255, 0.226);
    color: white;
    transition: all 0.5s ease;
}

.fixo:hover{
    background-color: white;
    color: black;
}

.aberta{
        background-color: white;
        
      

        p{
            color:black;
        }
    }


.cantoesquerdo{
    width: 455px;
    position: absolute;
    bottom: 2%;
    left: 15%;
    text-align: left;
    
    h3{
        font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
    color: white;
    font-size: 40px;
    margin-bottom:10px;
    
    }

    p{
        width: 350px;
        color: rgba(255, 255, 255, 0.884);
        font-size: 14px;
        margin-bottom: 20px;
        
    }

    button{
        width: 120px;
        height: 40px;
        border-radius: 20px;
        border: none;
        background-color: white;
        color: black;
        font-weight: bold;
        cursor: pointer;
        
    }
}

.btntroca{
    position: absolute;
    top: 92%;
    left: 50%;

    button{
        background-color: transparent;
        width: 43px;
        height: 43px;
        border-radius: 50%;
        border: 1px solid white;
        cursor: pointer;
        font-size: 30px;
        color: white;
        margin-left: 10px;
    }
}

.fruta{
    width: 670px;
    z-index: 1;
    position: absolute;
    right: 22%;
    bottom: 15%;
}

.suco{
    width: 250px;
    height: 570px;
    position: absolute;
    right: 39%;
    bottom: 13%;
    z-index: 2;
}